@model LI.Contracting.EntityDTO.CarrierDTO

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <form method="post" id="carrierform">

        <div class="container" id="mga">
            <fieldset class="border p-2">
                <legend class="w-auto">Manage Carrier</legend>
                <div id="pview">

                </div>
                <div class="" id="editmode">
                    <input type="button" id="update" value="Save" onclick="saveForm()" class="btn btn-primary" />
                    <input type="button" id="addnew" value="Add New" onclick="createmga()" class="btn btn-primary" />

                </div>
                <div class="" id="addmode">
                    <input type="button" id="save" value="Save" onclick="saveForm()" class="btn btn-primary" />
                    <input type="button" id="reset" value="Reset" onclick="createmga()" class="btn btn-primary" />

                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </fieldset>
        </div>

    </form>
    <div class="container" id="carriergrid">
       
    </div>
</div>

<script>
    
    function saveForm() {
        var form = $("#carrierform");
        form.removeData('validator');
        form.removeData('unobtrusiveValidation');
        $.validator.unobtrusive.parse(form);

        if (form.valid()) {
            $.ajax({
                type: "POST",
                url: "/Carrier/SaveForm",
                data: form.serialize(),
                success: function (msg) {                   
                    loadGrid();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("some error occured while saving data");
                }
            });
        }
        evt.preventDefault();
    }
    function createcarrier() {
        $("#pview").load("/Carrier/Create");
        $("#addmode").show();
        $("#editmode").hide();
    }
    function editcarrier(id) {
        $("#pview").load("/Carrier/Edit/" + id);
        $("#editmode").show();
        $("#addmode").hide();
    }

    function deletecarrier(id) {
        $.ajax({
            type: "POST",
            url: "/Carrier/Delete/"+id,            
            success: function (msg) {
                createcarrier();
                loadGrid();
                
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("some error occured while deleting data");
            }
        });
       
    }
    function loadGrid() {
        $("#carriergrid").load("/Carrier/Grid")       
    }
    
    $(document).ready(function () {
        createcarrier();
        loadGrid();
    });
</script>

